input {
	line-height: normal;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
	background-color: $orange;
	border: none;
	font-weight: 600;
	font-size: inherit;
	line-height: 1;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	color: $whitesmoke;
	@include border-radius(2px);
	@include transition(background-color 0.3s ease-in-out);
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: $grey;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline-offset: -4px;
}

// Submit buttons in feeds.
.hfeed input[type="submit"] {
	display: block;
}
