$size__site-main: 100%;
$size__site-sidebar: 25%;

/* Coop */
$default-vertical-space: 3rem;
$breakpoint-small: 37.5rem;
$breakpoint-medium: 56.25rem;

/* Grid */
$zen-columns: 12;
$zen-gutters: 40px;
$container-max-width: 1200px;