.breadcrumb + .entry-attachment {
	margin-top: 2rem;
}

.entry-attachment {
	text-align: center;
}

.entry-attachment img {
	margin-bottom: 1.25rem;
}

.entry-attachment + .entry-header {
	text-align: center;
}

.entry-attachment .entry-caption {
	font-style: italic;
}